.circle {
    background: lightblue;
    border-radius: 50%;
    width: 500px;
    height: 500px;
}

.dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: white;
}

.message{
    color:red;
    font-size: smaller;
}

#logo{
    height: 80px;
    margin: auto;
}

#user_id, #name, #gender, #email, #phone, #interest, #purchase{
    width: 250px;
}

tr{
    margin-bottom: 4px;
}