<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="../static/icon.png" type="image/icon type">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>LB DW Simulator</title>
</head>
<body>
    <div class="container-fluid">
        <br>
        <div class="row" style="height: 80vh;">
            <div class="left-form col-4" style="border-right: 1px solid black;">
                <div>
                    <img src="../static/logo.png" id="logo" alt="Static Logo">
                </div>
                <br>
                <h4>Data Input</h4>
                <form action="/" method="POST">
                    <table>
                        <tr>
                            <td>User ID</td>
                            <td>:</td>
                            <td><input type="text" id="user_id" name="user_id" placeholder="LB0001" value="LB0001"></td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>:</td>
                            <td><input type="text" id="name" name="name" placeholder="Joko" value="Joko"></td>
                        </tr>
                        
                        <tr>
                            <td>Gender</td>
                            <td>:</td>
                            <td>
                                <select name="gender" id="gender">
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td><input type="text" id="email" name="email" placeholder="joko@gmail.com" value="joko@gmail.com"></td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>:</td>
                            <td><input type="text" id="phone" name="phone" placeholder="089620373371" value="089620373371"></td>
                        </tr>
                        <tr>
                            <td>Interest</td>
                            <td>:</td>
                            <td><textarea type="text" id="interest" name="interest" placeholder="JSON Format" rows="3" cols="30">{"ctor":{"sms":{"category":{"fnb":0.9,"fashion":0.1,"travel":0.0,"lifestyle":0.0,"electronic":0.0},"acquisition_cost":150000.0},"email":{"category":{"fnb":0.8,"fashion":0.0,"travel":0.0,"lifestyle":0.0,"electronic":0.0},"acquisition_cost":200000.0},"push_notif":{"category":{"fnb":0.4,"fashion":0.0,"travel":0.0,"lifestyle":0.0,"electronic":0.0},"acquisition_cost":100000.0}}}</textarea></td>
                        </tr>
                        <tr> 
                            <td>Purchase</td>
                            <td>:</td>
                            <td><textarea type="text" id="purchase" name="purchase" placeholder="JSON Format" rows="3" cols="30">{"trx_id":"TR0001","details":{"fnb":{"vendor":"bakso jawir","items":{"bakso urat":{"qty":1,"amount":15000.0},"bakso polos":{"qty":1,"amount":10000.0}}},"fashion":{"vendor":"tokobajuku","items":{"baju merah":{"qty":1,"amount":50000.0}}},"travel":{},"lifestyle":{},"electronic":{}}}</textarea></td>
                        </tr>
                    </table>
                    <br>
                    {% if message %}
                        <p class="message">*{{ message | safe }}</p>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
            <div class="right-form col-8">
                <h4>Data Ouput</h4>
                <div class="row">
                    <div class="col-12">
                        <form action="/search">
                            <label for="persona">Filter:</label>
                            <select name="persona" id="persona" style="height: 35px;">
                                <option value="all">All</option>
                                <option value="fashion">Fashion</option>
                                <option value="electronic">Electronic</option>
                                <option value="fnb">FnB</option>
                                <option value="travel">Travel</option>
                                <option value="lifestyle">Lifestyle</option>
                                <option value="health">Health</option>
                                <option value="none">None</option>
                            </select>
                            <select name="media" id="media" style="height: 35px;">
                                <option value="all">All</option>
                                <option value="sms">SMS</option>
                                <option value="email">Email</option>
                                <option value="push_notif">Push Notif</option>
                            </select>
                            <button class="btn btn-secondary" type="submit">Search</button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="row">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" style="width: 65%;">
                                <h5 style="text-align: right;">Average CTOR: {{ avg_ctor }}%</h5>
                            </th>
                            <th scope="col">
                                <form action="/export" style="text-align: right;">
                                    <button type="submit" class="btn btn-success">Export</button>
                                </form>
                            </th>
                            <!-- <th scope="col">Action</th> -->
                          </tr>
                        </thead>
                    </table>
                </div>
                <div style="overflow: auto; height: 80vh;">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">User ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Gender</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Persona</th>
                            <th scope="col">Preference Media</th>
                            <!-- <th scope="col">Action</th> -->
                          </tr>
                        </thead>
                        <tbody>
                            {%if len > 0%}
                            {%for i in range(len)%}
                                <tr>
                                    <th scope="row">{{users[i]['user_id']}}</th>
                                    <td>{{users[i]['name']}}</td>
                                    <td>{{users[i]['gender']}}</td>
                                    <td>{{users[i]['email']}}</td>
                                    <td>{{users[i]['phone']}}</td>
                                    <td><a href="/details/{{users[i]['user_id']}}">{{users[i]['persona']}}</a></td>
                                    <td>
                                    {%for j in range(3)%}
                                        {%if users[i]['pref_media'][j] == '1'%}
                                            <span class="dot" style="background-color: tomato;">S</span>
                                        {% endif %}
                                        {%if users[i]['pref_media'][j] == '2'%}
                                            <span class="dot" style="background-color: lightblue;">E</span>
                                        {% endif %}
                                        {%if users[i]['pref_media'][j] == '3'%}
                                            <span class="dot" style="background-color: lightseagreen;">P</span>
                                        {% endif %}
                                    {%endfor%}
                                    </td>
                                    <!-- <td>
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </td> -->
                                </tr>
                            {%endfor%}
                            {%endif%}
                        </tbody>
                      </table>
                </div>
                
            </div>
        </div>
        <!-- modal -->
        <!-- <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <table class="table">
                      <thead>
                        <tr>
                            <th>TRX ID</th>
                            <th>Vendor</th>
                            <th>Item</th>
                            <th>Qty</th>
                            <th>Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for detail in details %}
                        <tr>
                            <td>{{detail[1]}}</td>
                            <td>{{detail[2]}}</td>
                            <td>{{detail[3]}}</td>
                            <td>{{detail[4]}}</td>
                            <td>{{detail[5]}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                  </table>
                  
              </div>
            </div>
          </div> -->
    </div>
    <!-- local js -->
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <!-- bootsrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>